In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
coal_as_fuel = pd.read_csv('../../data/Source of Data - eia.gov/new_csvs/net_generation_for_coal.csv',skiprows=1)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
coal_as_fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  6 non-null      object
 1   units        5 non-null      object
 2   source key   6 non-null      object
 3   2001         5 non-null      float64
 4   2002         5 non-null      float64
 5   2003         5 non-null      float64
 6   2004         5 non-null      float64
 7   2005         5 non-null      float64
 8   2006         5 non-null      float64
 9   2007         5 non-null      float64
 10  2008         5 non-null      float64
 11  2009         5 non-null      float64
 12  2010         5 non-null      float64
 13  2011         5 non-null      float64
 14  2012         5 non-null      float64
 15  2013         5 non-null      float64
 16  2014         5 non-null      float64
 17  2015         5 non-null      float64
 18  2016         5 non-null      float64
 19  2017         5 non-null      float64
 20  2018         5 non-null      float64
 21  2019         5 non-null      float64
 22  2020         5 non-null      float64
dtypes: float64(20), object(3)
memory usage: 1.2+ KB

In [5]:
coal_as_fuel.head(10)

,description,units,source key,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,United States : all sectors,thousand megawatthours,ELEC.GEN.COW-US-99.A,1903956.0,1933130.0,1973737.0,1978301.0,2012873.0,1990511.0,2016456.0,1985801.0,1755904.0,1847290.0,1733430.0,1514043.0,1581115.0,1581710.0,1352398.0,1239149.0,1205835.0,1149487.0,964957.0,773393.0
1,United States : electric power,NaN,ELEC.GEN.COW-US-98.A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United States : electric utility,thousand megawatthours,ELEC.GEN.COW-US-1.A,1560146.0,1514670.0,1500281.0,1513641.0,1484855.0,1471421.0,1490985.0,1466395.0,1322092.0,1378028.0,1301107.0,1146480.0,1188452.0,1173073.0,998385.0,922399.0,893639.0,863505.0,722885.0,582374.0
3,United States : independent power producers,thousand megawatthours,ELEC.GEN.COW-US-94.A,322681.0,395943.0,452433.0,443547.0,507199.0,498316.0,507406.0,502442.0,419031.0,449709.0,416783.0,354076.0,379270.0,395701.0,342608.0,307263.0,304198.0,278668.0,235847.0,185328.0
4,United States : all commercial,thousand megawatthours,ELEC.GEN.COW-US-96.A,995.0,992.0,1206.0,1340.0,1353.0,1310.0,1371.0,1261.0,1096.0,1111.0,1049.0,883.0,839.0,595.0,509.0,383.0,329.0,303.0,268.0,240.0
5,United States : all industrial,thousand megawatthours,ELEC.GEN.COW-US-97.A,20135.0,21525.0,19817.0,19773.0,19466.0,19464.0,16694.0,15703.0,13686.0,18441.0,14490.0,12603.0,12554.0,12341.0,10896.0,9103.0,7669.0,7011.0,5957.0,5451.0

In [6]:
coal_as_fuel.drop(coal_as_fuel.columns[2], axis=1, inplace=True)

In [7]:
coal_as_fuel.head()

,description,units,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,United States : all sectors,thousand megawatthours,1903956.0,1933130.0,1973737.0,1978301.0,2012873.0,1990511.0,2016456.0,1985801.0,1755904.0,1847290.0,1733430.0,1514043.0,1581115.0,1581710.0,1352398.0,1239149.0,1205835.0,1149487.0,964957.0,773393.0
1,United States : electric power,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United States : electric utility,thousand megawatthours,1560146.0,1514670.0,1500281.0,1513641.0,1484855.0,1471421.0,1490985.0,1466395.0,1322092.0,1378028.0,1301107.0,1146480.0,1188452.0,1173073.0,998385.0,922399.0,893639.0,863505.0,722885.0,582374.0
3,United States : independent power producers,thousand megawatthours,322681.0,395943.0,452433.0,443547.0,507199.0,498316.0,507406.0,502442.0,419031.0,449709.0,416783.0,354076.0,379270.0,395701.0,342608.0,307263.0,304198.0,278668.0,235847.0,185328.0
4,United States : all commercial,thousand megawatthours,995.0,992.0,1206.0,1340.0,1353.0,1310.0,1371.0,1261.0,1096.0,1111.0,1049.0,883.0,839.0,595.0,509.0,383.0,329.0,303.0,268.0,240.0

In [8]:
coal_as_fuel = coal_as_fuel.drop(index=[1,2,3,4,5])

In [9]:
coal_as_fuel

,description,units,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,United States : all sectors,thousand megawatthours,1903956.0,1933130.0,1973737.0,1978301.0,2012873.0,1990511.0,2016456.0,1985801.0,1755904.0,1847290.0,1733430.0,1514043.0,1581115.0,1581710.0,1352398.0,1239149.0,1205835.0,1149487.0,964957.0,773393.0

In [11]:
coal_melted = pd.melt(coal_as_fuel, id_vars=['description','units'], var_name='year', value_name='value')
coal_melted

                    description                   units  year      value
0   United States : all sectors  thousand megawatthours  2001  1903956.0
1   United States : all sectors  thousand megawatthours  2002  1933130.0
2   United States : all sectors  thousand megawatthours  2003  1973737.0
3   United States : all sectors  thousand megawatthours  2004  1978301.0
4   United States : all sectors  thousand megawatthours  2005  2012873.0
5   United States : all sectors  thousand megawatthours  2006  1990511.0
6   United States : all sectors  thousand megawatthours  2007  2016456.0
7   United States : all sectors  thousand megawatthours  2008  1985801.0
8   United States : all sectors  thousand megawatthours  2009  1755904.0
9   United States : all sectors  thousand megawatthours  2010  1847290.0
10  United States : all sectors  thousand megawatthours  2011  1733430.0
11  United States : all sectors  thousand megawatthours  2012  1514043.0
12  United States : all sectors  thousand megawatthours  2013  1581115.0
13  United States : all sectors  thousand megawatthours  2014  1581710.0
14  United States : all sectors  thousand megawatthours  2015  1352398.0
15  United States : all sectors  thousand megawatthours  2016  1239149.0
16  United States : all sectors  thousand megawatthours  2017  1205835.0
17  United States : all sectors  thousand megawatthours  2018  1149487.0
18  United States : all sectors  thousand megawatthours  2019   964957.0
19  United States : all sectors  thousand megawatthours  2020   773393.0

In [12]:
coal_melted.to_csv(r'../../data/Source of Data - eia.gov/from_python_csv/coal_melted.csv', index = False)