In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
eia_CO2_emissions = pd.read_csv('../data/Source of Data - eia.gov/CO2_emissions.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
eia_CO2_emissions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MSN           0 non-null      object
 1   YYYYMM        0 non-null      object
 2   Value         0 non-null      object
 3   Column_Order  0 non-null      object
 4   Description   0 non-null      object
 5   Unit          0 non-null      object
dtypes: object(6)
memory usage: 0.0+ bytes

In [5]:
eia_CO2_emissions.head(2)

Empty DataFrame
Columns: [MSN, YYYYMM, Value, Column_Order, Description, Unit]
Index: []