In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
temporary_name = pd.read_csv('../data/Source of Data - eia.gov/MER_T07_01.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [5]:
temporary_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7216 entries, 0 to 7215
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MSN           7216 non-null   object
 1   YYYYMM        7216 non-null   int64
 2   Value         7216 non-null   object
 3   Column_Order  7216 non-null   int64
 4   Description   7216 non-null   object
 5   Unit          7216 non-null   object
dtypes: int64(2), object(4)
memory usage: 338.4+ KB

In [6]:
temporary_name.head(2)

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,ELEGPUS,194913,291.1,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours
1,ELEGPUS,195013,329.141,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours

#### Clean data by dropping final 2 digits from YYYYMM column and renaming column "year"

In [11]:
temporary_name['YYYYMM'] = temporary_name['YYYYMM'].apply(str)

In [12]:
temporary_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7216 entries, 0 to 7215
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MSN           7216 non-null   object
 1   YYYYMM        7216 non-null   object
 2   Value         7216 non-null   object
 3   Column_Order  7216 non-null   int64
 4   Description   7216 non-null   object
 5   Unit          7216 non-null   object
dtypes: int64(1), object(5)
memory usage: 338.4+ KB

In [19]:
temporary_name['YYYYMM'] = temporary_name['YYYYMM'].str.replace('\d\d$','')

<ipython-input-19-e68ffc2318eb>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  temporary_name['YYYYMM'] = temporary_name['YYYYMM'].str.replace('\d\d$','')

In [20]:
temporary_name.head(2)

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,ELEGPUS,1949,291.1,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours
1,ELEGPUS,1950,329.141,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours

In [22]:
temporary_name = temporary_name.rename(columns = {'YYYYMM': 'year'})
temporary_name.head(2)

,MSN,year,Value,Column_Order,Description,Unit
0,ELEGPUS,1949,291.1,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours
1,ELEGPUS,1950,329.141,1,"Electricity Net Generation, Electric Power Sector",Billion Kilowatthours