In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
eia_annual_consumption = pd.read_csv('../data/Source of Data - eia.gov/annual_consumption_state.csv',skiprows=1)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
eia_annual_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23278 entries, 0 to 23277
Data columns (total 11 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   YEAR                                23278 non-null  int64
 1   STATE                               23278 non-null  object
 2   TYPE OF PRODUCER                    23278 non-null  object
 3   ENERGY SOURCE              (UNITS)  23278 non-null  object
 4   CONSUMPTION for ELECTRICITY         23278 non-null  object
 5   Unnamed: 5                          0 non-null      float64
 6   Unnamed: 6                          0 non-null      float64
 7   Unnamed: 7                          0 non-null      float64
 8   Unnamed: 8                          0 non-null      float64
 9   Unnamed: 9                          0 non-null      float64
 10  Unnamed: 10                         0 non-null      float64
dtypes: float64(6), int64(1), object(4)
memory usage: 2.0+ MB

In [5]:
eia_annual_consumption.head(2)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE (UNITS),CONSUMPTION for ELECTRICITY,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1990,AK,Total Electric Power Industry,Coal (Short Tons),"404,871",NaN,NaN,NaN,NaN,NaN,NaN
1,1990,AK,Total Electric Power Industry,Petroleum (Barrels),"961,837",NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
eia_annual_consumption.drop(eia_annual_consumption.columns[[5,6,7,8,9,10]], axis=1, inplace=True)

In [7]:
eia_annual_consumption.head(2)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE (UNITS),CONSUMPTION for ELECTRICITY
0,1990,AK,Total Electric Power Industry,Coal (Short Tons),"404,871"
1,1990,AK,Total Electric Power Industry,Petroleum (Barrels),"961,837"

In [8]:
eia_annual_consumption.tail()

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE (UNITS),CONSUMPTION for ELECTRICITY
23273,2020,WY,"Electric Generators, Independent Power Producers",Coal (Short Tons),"527,062"
23274,2020,WY,"Electric Generators, Independent Power Producers",Natural Gas (Mcf),"16,492"
23275,2020,WY,"Electric Generators, Electric Utilities",Coal (Short Tons),"20,339,363"
23276,2020,WY,"Electric Generators, Electric Utilities",Natural Gas (Mcf),"5,710,278"
23277,2020,WY,"Electric Generators, Electric Utilities",Petroleum (Barrels),"83,736"

In [9]:
eia_annual_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23278 entries, 0 to 23277
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   YEAR                                23278 non-null  int64
 1   STATE                               23278 non-null  object
 2   TYPE OF PRODUCER                    23278 non-null  object
 3   ENERGY SOURCE              (UNITS)  23278 non-null  object
 4   CONSUMPTION for ELECTRICITY         23278 non-null  object
dtypes: int64(1), object(4)
memory usage: 909.4+ KB

In [10]:
eia_annual_consumption.tail()

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE (UNITS),CONSUMPTION for ELECTRICITY
23273,2020,WY,"Electric Generators, Independent Power Producers",Coal (Short Tons),"527,062"
23274,2020,WY,"Electric Generators, Independent Power Producers",Natural Gas (Mcf),"16,492"
23275,2020,WY,"Electric Generators, Electric Utilities",Coal (Short Tons),"20,339,363"
23276,2020,WY,"Electric Generators, Electric Utilities",Natural Gas (Mcf),"5,710,278"
23277,2020,WY,"Electric Generators, Electric Utilities",Petroleum (Barrels),"83,736"

In [11]:
eia_annual_consumption['YEAR'].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

In [12]:
indexes = eia_annual_consumption[eia_annual_consumption['STATE'] == 'US-TOTAL'].index

In [13]:
eia_annual_consumption.drop(indexes,inplace=True)

In [14]:
eia_annual_consumption.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22748 entries, 0 to 23277
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   YEAR                                22748 non-null  int64
 1   STATE                               22748 non-null  object
 2   TYPE OF PRODUCER                    22748 non-null  object
 3   ENERGY SOURCE              (UNITS)  22748 non-null  object
 4   CONSUMPTION for ELECTRICITY         22748 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

In [15]:
eia_annual_consumption.to_csv(r'../data/Source of Data - eia.gov/from_python_csv/annual_consumption_state.csv', index = False)